<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newEat="{{devour}}">
		{{#if sleep}}DEVOUR IT!{{else}}EAT IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
